$blue: #82abbc;
$black: #474f54;
$background: #31363b;
$red: #ea5252;
$yellow: #c1bf89;
$green: #acb765;
$foreground: #b3cfa7;

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.orange {
  color: orange;
}
